.current-weather {
  font-size: 25px;
  margin: 10px
}


.map-container {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;


  .map-weather {
    height: 10%;
    display: flex;
    align-items: center;
  }

  .map {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;

  }

  .reset-btn {
    height: 10%;
    display: flex;
    align-items: center;

  }
}

.weather-container {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  .header-weather {
    height: 10%;
    display: flex;
    align-items: center;

  }

  .list-weather {
    height: 80%;

  }

  .pagination-weather {
    height: 10%;
    display: flex;
    align-items: center;

  }
}
