.weather-col {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.weather-col-border {
  border: 1px solid #007bff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:not(:first-child) {
    border-top: unset;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.list-container {
  overflow: auto;
  max-height: 100%;
}

@media (max-width: 1200px) {
  .weather-col {
    width: 150px;
    height: unset !important;
  }
  .list-container {
    display: flex;
    max-width: 600px;
    flex-wrap: wrap;
    min-height: unset;
  }


}

@media (max-width: 960px) {
  .weather-col {
    width: 150px;
    height: unset !important;
  }
  .list-container {
    display: flex;
    max-width: 300px;
    flex-wrap: wrap;
    min-height: unset;
  }


}

@media (max-width: 375px) {
  .weather-col {
    width: 150px;
    height: unset !important;
  }
  .list-container {
    display: flex;
    max-width: 150px;
    flex-wrap: wrap;
    min-height: unset;
  }


}


